<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WMIEntities" connectionString="Namespace=root\cimv2;Computer=localhost" providerName="System.Data.WMI.EF6" />
    <add name="WMIEntitiesDirect" connectionString="Namespace=root\cimv2;Computer=localhost" providerName="System.Data.WMI.EF6" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.WMI.EF6" type="System.Data.WMI.EF6.WMIProviderServices, System.Data.WMI.EF6, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.WMI" />
      <remove invariant="System.Data.WMI.EF6" />
      <add name="WMI Data Provider (ADO.NET)" invariant="System.Data.WMI" description=".NET Framework Data Provider for WMI" type="System.Data.WMI.WMIFactory, System.Data.WMI" />
      <add name="WMI Data Provider (Entity Framework 6)" invariant="System.Data.WMI.EF6" description=".NET Framework Data Provider for WMI (Entity Framework 6)" type="System.Data.WMI.EF6.WMIProviderFactory, System.Data.WMI.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>